@(param: Any)

    

<table id="flightDataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
        
        <th>Source</th>
        <th>Destination</th>
        <th>Month of Travel</th>
        <th>Day of Travel</th>
        <td style="color:black;font-weight:bold;">Carrier</td>
        <td style="color:black;font-weight:bold;">Actual Price</td>
        <td style="color:black;font-weight:bold;">Predicted Price</td>
		
		
    </tr>
    </thead>
    
    <!--<tfoot>
        <tr>
          <th>Source</th>
        <th>Destination</th>
        <td>Carrier</td>
        <th>Date of Travel</th>
        <th>Date Of Price Fall</th>
        <th>Predicted Price</th>
		<th>Latitude</th>
		<th>Longitude</th>
		<th>Distance</th>
		<th>Seats</th>
        <th></th>
        <th></th>
        </tr>
        
    </tfoot>-->
</table>
